.imgportada{
    width: 500px;
    border-radius: 10px;
}

.imgportada:hover{
    -webkit-transform: perspective(150px) rotateX(45deg);
    transform: perspective(650px) rotateX(45deg);
}

.imgBrindis{
    height: $height;
    border-radius: 15px;
}

.imgCont{
    height:100px;
    width: 100px;
}

.imgmodelos{
    height: $height;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 20px;
    gap: 10px;
    @media screen and (max-width: 768px) 
    {
        flex-direction: column;
        width: 10px;
    }
}


.logos{
    width: 200px;
    padding: 10px;
}